button, .btn {
    background: linear-gradient(to bottom, #f2f2f9 21%,#CDD1D9 80%);
    border:1px solid $color-border-input;
    border-radius:.4em;
    box-sizing: content-box;
    color: $color-heading-2;
    display:inline-block;
    line-height: 1em;
    padding: .5em 1em;
    font-size: (14rem/16);
    font-weight:normal;
    vertical-align: middle;

    &:hover {
        background: linear-gradient(to bottom, #f8f8fd 21%, #d5dfe4 80%);
        cursor: pointer;
        text-decoration: none;
    }
}
.hidden-label { font-size:0; height:1px; overflow:hidden; }
.fa-times 		{ color:red;   }
.fa-pencil 		{ color:blue;  }
.fa-plus   		{ color:green; }
.fa-check     	{ color:green; }
.fa-floppy-o   	{ color:green; }
.fa-map-marker 	{ color:blue;  }
.fa-globe       { color:blue;  }
.fa-list-ul		{ color:blue;  }
.fa-print       { color:blue;  }
.fa-reorder     {}
.fa-user        {}
.fa-search      {}
.fa-upload      {}
