/**
 * Color palette declarations
 */
$blue:         #315da6;
$blue-light:   #4975ba;
$blue-dark:    #143a7a;
$blue-darkest: #06204b;

// Cornflower
$cornflower-lightest: #acf2ff;
$cornflower-light:    #5991c2;
$cornflower:          #447aa8;
$cornflower-dark:     #24537b;
$cornflower-darkest:  #12314c;

// Action Green
$green:          #20ac59;
$green-light:    #83b685;
$green-lightest: #aaffac;

// Blue-ish gray
$gray:         #bcc9d8;
$gray-dark:    #8d98a5;
$gray-darkest: #585f68;
$nightshade:   #2a2e32; // Darker than darkest

// Red
$red:          #872528;
$red-light:    #9f383b;
$red-lightest: #e47377;
$red-dark:     #5f0a0c;
$red-darkest:  #390001;
