dl {
    border-top: 1px solid;
    display: block;
    margin: 0;
    padding: .5em 0;
    > dt {
        font-size: .8em;
        float: left;
        margin: 0;
        padding: .2em 0 0 0;
        width: 8em;
    }
    > dd {
        margin: 0 0 0 8em;
        padding: 0;
    }
}

form dl {
    border:none;

    > dt {
        font-size: (12em/16);
        font-weight: normal;
        margin: 0 0 .25em 0;
    }
    > dd {
        margin: 0;

        > input {
            box-sizing: border-box;
            border: 1px solid $color-border-input;
            font-family: $font-family-default;
            font-size: 1em;
            padding: .5em;
            transition: border-color .35s ease-in-out, background-color .5s ease-in-out;
            width: 100%;

            &:focus {
                background-color: $color-content-background;
                border-color: $color-border-input-highlight;
            }
        }
        > input[type="tel"   ] { padding-left: 44px; }
        > input[type="date"  ] { width:10em; }
        > input[type="number"] { width:5em; }
    }



    @media all and (min-width: $viewport-medium) {
        background: $color-background-field;
        margin: 2px 0;
        transition: background .25s linear;

        &:after {
            clear: both;
            content: '';
            display: table;
        }
        &:hover {
            background: $color-background-field-highlight;
        }
        > dt {
            color: $color-heading-3;
            float: left;
            font-size: (13em/16);
            margin: 0;
            padding: .75em 0 0 1em;
            width: 8em;
        }
        > dd {
            margin-left: 8em;

            > input {
                font-size: (14em/16);
                width: 20em;

                &.datePicker { width:inherit; }
                &.timePicker { width:inherit; }
            }
        }
    }
}

dl.checkbox > dd {
    margin:0;
    label { display:block; }
}