body {
    color: $color-text-default;
    font-family: $font-family-default;
}
h1 {
    color: $color-heading-1;
    font-size: 1.3rem;
    font-weight: bold;
}
h2 {
  color: $color-heading-2;
  font-size: 1.3rem;
  font-weight: normal;
}
h3 {
    color: $color-heading-3;
    font-weight: normal;
}
h4 { font-size:100%; font-weight: $font-weight-heading; }
a {
    color: $color-link;
    text-decoration:none;
}
p {
    line-height: (20em/16);
    margin: 1em 0;
}
address { white-space: pre-line; }

table { margin: 1em 0 1em 0; }
th { font-weight: $font-weight-heading; }
td { padding:.25em; }
thead th { text-align:left; }
tbody th { text-align:right; }

ul { list-style-type:none; margin-left:1em; padding:0; }
li { margin:0; }

fieldset {
}
form {
}
legend {
    color: $color-heading-1;
    display: block;
    font-size: 1.15em;
    font-weight: normal;
    margin: 0;
    padding: 0 0 0 0;
}
label { font-weight:normal; }

@media (max-width:400px) {
    textarea { width:80%; height:6em; }
}
@media (min-width:401px) {
    textarea { width:60ex; height:12em; }
}

@media print {
    h1 {
        font-size: 1.5rem;
        margin: .5em 0 0 0;
    }
    h2 {
        font-size: 1.35rem;
        margin: .5em 0 0 0;
    }
}
