@import 'color-palette';
$font-family-default: "Open Sans", "Helvetica Neue", Arial, sans-serif;
$font-size-bigger: 1.5rem;
$font-size-big:    1.3rem;
$font-size-normal:   1rem;
$font-size-small:   .8rem;
$font-size-smaller: .6rem;

$color-text-default: $gray-darkest;
$color-content-background: #fff;

$color-link:   $blue-dark;
$color-nav1:   $blue-dark;
$color-header: $blue-dark;
$color-accent: $blue;

$color-heading-1: $gray;
$color-heading-2: $gray-dark;
$color-heading-3: $gray-darkest;

$color-background-footer:          $nightshade;
$color-background-field:           #f4f4f4;
$color-background-field-highlight: #fafafa;
$color-border-input:           #e0e0e0;
$color-border-input-highlight: #a0a0a0;
$color-border-modal:           #f3f3f3;
$color-border-table:           #c0c0c0;

$color-calltoaction-background:    $green;
$color-calltoaction-border:        $green-light;
$color-status-open:                $cornflower;
$color-status-closed:              $gray-darkest;

$color-table-background:        $gray;
$color-table-header-background: $blue-dark;

$color-shadow: rgba(0, 0, 0, 0.5);


$size-viewport-med:     46em;
$size-viewport-large:   70em;
$size-viewport-notTall: 40rem;

$size-gutter: .5em;
