$font-size-bigger: 1.5rem;
$font-size-big:    1.3rem;
$font-size-normal:   1rem;
$font-size-small:   .8rem;
$font-size-smaller: .6rem;

$color-accent: $azure;

$color-heading-1: $gothic;
$color-heading-2: $dark-slate;
$color-heading-3: $mine-shaft;

$color-background-footer:      $mine-shaft;
$color-border-modal:           $vista-white;

$color-calltoaction-background:    $fern;
$color-calltoaction-border:        $silver-chalice;
$color-status-open:                $cornflower;
$color-status-closed:              $dark-slate;
