$url-logo:              "";
$url-header-background: "";

$font-family-default: "Open Sans", "Helvetica Neue", Arial, sans-serif;

$color-text-default: #303030;
$color-content-background: #fff;

$color-link:   #1e59ae;
$color-nav1:   #1e59ae;
$color-header: #1e59ae;
$color-accent: #1e59ae;

$color-heading-1: #777;
$color-heading-2: #555;
$color-heading-3: #666;


$color-background-field:           #f4f4f4;
$color-background-field-highlight: #fafafa;
$color-border-input:           #e0e0e0;
$color-border-input-highlight: #a0a0a0;
$color-border-modal:           #f3f3f3;
$color-border-table:           #c0c0c0;

$color-table-background:        #edf0f5;
$color-table-header-background: #204984;

$color-shadow: rgba(0, 0, 0, 0.5);

$font-weight-heading: 600;

$viewport-small: (350rem/16);
$viewport-medium: (600rem/16);
$viewport-large: (990rem/16);
