<?php
define('APPLICATION_NAME','CRM');

/**
 * URL Generation settings
 *
 * Do NOT use trailing slashes
 *
 * If your site is being proxied, change BASE_HOST to the hostname
 * used for the outside world.
 */
define('BASE_URI' , '/application');
#define('BASE_HOST', isset($_SERVER['HTTP_X_FORWARDED_HOST'])
#                        ? $_SERVER['HTTP_X_FORWARDED_HOST']
#                        : $_SERVER['SERVER_NAME']);
define('BASE_HOST', $_SERVER['SERVER_NAME']);
define('BASE_URL' , "$_SERVER[REQUEST_SCHEME]://".BASE_HOST.BASE_URI);

/**
 * Specify the theme directory
 *
 * Remember to create a symbolic link in public/css to the theme CSS
 * that you declare here.
 *
 * A theme can consist of templates, blocks which will override core.
 * The current theme's screen.css will be included in the HTML head.
 */
define('THEME', 'COB');

/**
 * JavaScript Libraries
 */
define('GOOGLE_MAPS',   'http://maps.googleapis.com/maps/api/js?sensor=false');
define('GOOGLE_LOADER', 'http://www.google.com/jsapi');

/**
 * Database Setup
 */
$DATABASES = [
    'default' => [
        'driver'  => 'mysql',
        'host'    => 'localhost',
        'name'    => 'ureport',
        'user'    => 'ureport',
        'pass'    => 'password',
        'options' => []
    ]
];

/**
 * Directory Configuration
 *
 * This supports doing user authentication from multiple external
 * directories, such as LDAP or ADS. This is required since city staff
 * are in a seperate LDAP directory from public user accounts.
 * Classes that implement ExternalIdentity should have an entry here.
 *
 * @see: Domain\Auth\ExternalIdentity
 */
$DIRECTORY_CONFIG = [
// Example for ADS style authentication
//  'Employee' => [
//      'classname'         => 'Site\Classes\Employee',
//      'server'            => 'ldaps://example.org:636',
//      'base_dn'           => 'OU=Department,DC=example,DC=org',
//      'username_attribute'=> 'sAMAccountName',
//      'user_binding'      => '{username}@example.org',
//      'admin_binding'     => 'admin@example.org',
//      'admin_pass'        => 'password'
//  ]
];

/**
 * CAS authentication
 */
//define('CAS_SERVER','cas.somewhere.org');
//define('CAS_URI','cas');

/**
 * Controls whether the system sends email notifications to people
 */
define('NOTIFICATIONS_ENABLED', true);
define('SMTP_HOST', 'localhost.localdomain');
define('SMTP_PORT', 25);
define('ADMINISTRATOR_EMAIL', 'someone@localhost');

/**
 * Point to the Solr server
 */
define('SOLR_SERVER_HOST', 'localhost');
define('SOLR_SERVER_PORT', 8983);
define('SOLR_SERVER_CORE', 'ureport');

/**
 * Addresses can be validated against a master address web service
 *
 * Your custom address service must implement the AddressService interface.
 * Bloomington's custom address service implementation is an example.
 * @see src/Application/Models/AddressService
 */
//define('ADDRESS_SERVICE',     'Site\Classes\MasterAddress');
//define('ADDRESS_SERVICE_URL', 'http://localhost/master_address');


/**
 * Rental addresses have additional information we can look up
 * Owner information is being provided from this service
 */
//define('RENTAL_SERVICE','http://localhost/rentpro/RentService');

/**
 * Some default values for Tickets in the system
 */
define('DEFAULT_CITY','Bloomington');
define('DEFAULT_STATE','IN');

/**
 * Default coordinates for map center
 * This should probably be the center of your city
 * If you can, it's best to adjust these values in your php.ini
 */
define('DEFAULT_LATITUDE', ini_get('date.default_latitude'));
define('DEFAULT_LONGITUDE',ini_get('date.default_longitude'));
/**
 * Bounding box for valid locations
 *
 * Comment these out if you do not want this validation.
 * Tickets will be rejected if they have coordinates that
 * do not fall inside the defined bounding box.
 */
//define('MIN_LATITUDE',   39.069187);
//define('MAX_LATITUDE',   39.99915);
//define('MIN_LONGITUDE', -86.641575);
//define('MAX_LONGITUDE', -86.440543);

/**
 * This is a unique string identifying your jurisdiction to the
 * rest of the Open311 community.
 *
 * Open311 servers typically use their domain name as their jurisdiction
 */
define('OPEN311_JURISDICTION','localhost');
define('OPEN311_KEY_SERVICE', 'http://localhost/open311-api-key-request');

define('THUMBNAIL_SIZE', 150);

define('CLOSING_COMMENT_REQUIRED_LENGTH', 1);
define('AUTO_CLOSE_COMMENT', 'Closed automatically');

define('DATE_FORMAT', 'n/j/Y');
define('DATETIME_FORMAT', 'n/j/Y H:i:s');
define('TIME_FORMAT', 'H:i:s');
define('LOCALE', 'en_US');

/**
 * Graylog is a centralized log manager
 *
 * This application supports sending errors and exceptions to a graylog instance.
 * This is handy for notifying developers of a problem before users notice.
 ** @see https://graylog.org
 */
#define('GRAYLOG_DOMAIN', 'graylog.example.org');
#define('GRAYLOG_PORT',   12201);
