<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Servers</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Bloomington</string>
			<key>URL</key>
			<string>http://bandit.bloomington.in.gov/crm/open311</string>
		</dict>
	</array>
</dict>
</plist>
