[submodule "crm/libraries/phpCAS"]
	path = crm/libraries/phpCAS
	url = https://github.com/Jasig/phpCAS.git
[submodule "crm/libraries/zf1"]
	path = crm/libraries/zf1
	url = https://github.com/zendframework/zf1.git
[submodule "crm/public/js/vendor/yui3"]
	path = crm/public/js/vendor/yui3
	url = https://github.com/yui/yui3.git
