* text=auto !eol
crm/assets/buttons.psd -text
crm/assets/minustag.psd -text
crm/blocks/html/404.inc -text
crm/blocks/html/errorMessages/media/badServerPermissions.inc -text
crm/blocks/html/errorMessages/media/unknownFileType.inc -text
crm/blocks/html/errorMessages/media/uploadFailed.inc -text
crm/blocks/html/errorMessages/mergerNotAllowed.inc -text
crm/blocks/html/people/mergeForm.inc -text
crm/blocks/xml/locations/locationInfo.inc -text
crm/blocks/xml/tickets/ticketList.inc -text
crm/controllers/AccountController.php -text
crm/controllers/ActionsController.php -text
crm/controllers/AdminController.php -text
crm/controllers/CategoriesController.php -text
crm/controllers/ClientsController.php -text
crm/controllers/ContactMethodsController.php -text
crm/controllers/DepartmentsController.php -text
crm/controllers/IndexController.php -text
crm/controllers/IssuesController.php -text
crm/controllers/LabelsController.php -text
crm/controllers/LocationsController.php -text
crm/controllers/LoginController.php -text
crm/controllers/MediaController.php -text
crm/controllers/Open311Controller.php -text
crm/controllers/PeopleController.php -text
crm/controllers/ResolutionsController.php -text
crm/controllers/TicketsController.php -text
crm/controllers/UsersController.php -text
crm/docs/AdminGuide/images/freshInstall.png -text
crm/docs/DeveloperGuide/ConceptArt/images/addcase.jpg -text
crm/docs/DeveloperGuide/ConceptArt/images/answers.jpg -text
crm/docs/DeveloperGuide/ConceptArt/images/customfieldsnotpopulated.jpg -text
crm/docs/DeveloperGuide/ConceptArt/images/editissue.jpg -text
crm/docs/DeveloperGuide/ConceptArt/images/editissue.psd -text
crm/docs/DeveloperGuide/ConceptArt/images/editissuebutton.jpg -text
crm/docs/DeveloperGuide/ConceptArt/images/history_change.jpg -text
crm/docs/DeveloperGuide/ConceptArt/images/newcase.jpg -text
crm/docs/DeveloperGuide/ConceptArt/images/same_field.jpg -text
crm/libraries/framework/classes/Controller.php -text
crm/public/help/images/actions.jpg -text
crm/public/help/images/case_issues.png -text
crm/public/help/images/edit.png -text
crm/public/help/images/metadata.jpg -text
crm/public/help/images/newcase.jpg -text
crm/public/help/images/newissue.jpg -text
crm/public/index.php -text
crm/public/js/open311/cross-hairs-small-black-cropped.png -text
crm/public/media -text
crm/public/skins/local/images/addbutton.png -text
crm/public/skins/local/images/arrow_down.png -text
crm/public/skins/local/images/arrow_left.png -text
crm/public/skins/local/images/arrow_right.png -text
crm/public/skins/local/images/arrow_up.png -text
crm/public/skins/local/images/breadcrumb.png -text
crm/public/skins/local/images/busy.gif -text
crm/public/skins/local/images/buttonBackground.png -text
crm/public/skins/local/images/check.png -text
crm/public/skins/local/images/check_button.png -text
crm/public/skins/local/images/delete.png -text
crm/public/skins/local/images/deletebutton.png -text
crm/public/skins/local/images/edit.png -text
crm/public/skins/local/images/editbutton.png -text
crm/public/skins/local/images/emblem-important.png -text
crm/public/skins/local/images/google_maps_button.png -text
crm/public/skins/local/images/icons/mime/doc.png -text
crm/public/skins/local/images/icons/mime/dwg-autocad-drawing.ico -text
crm/public/skins/local/images/icons/mime/flash.gif -text
crm/public/skins/local/images/icons/mime/folder.png -text
crm/public/skins/local/images/icons/mime/image.png -text
crm/public/skins/local/images/icons/mime/kml_feed_small.png -text
crm/public/skins/local/images/icons/mime/page.png -text
crm/public/skins/local/images/icons/mime/pdf.png -text
crm/public/skins/local/images/icons/mime/quicktime.png -text
crm/public/skins/local/images/icons/mime/real.png -text
crm/public/skins/local/images/icons/mime/sound.png -text
crm/public/skins/local/images/icons/mime/tar.png -text
crm/public/skins/local/images/icons/mime/vectorgfx.png -text
crm/public/skins/local/images/icons/mime/video.png -text
crm/public/skins/local/images/icons/mime/windowsMedia.png -text
crm/public/skins/local/images/icons/mime/xls.png -text
crm/public/skins/local/images/icons/mime/zip.png -text
crm/public/skins/local/images/minus.png -text
crm/public/skins/local/images/minusTag.png -text
crm/public/skins/local/images/pencil_button.png -text
crm/public/skins/local/images/plus.png -text
crm/public/skins/local/images/plus_button.png -text
crm/public/skins/local/images/required_asterik.gif -text
crm/public/skins/local/images/reticule_button.png -text
crm/public/skins/local/images/submitbutton.png -text
crm/public/skins/local/layouts/default.css -text
crm/scripts/migration/0.0-1.0/calltrack/1_constituents.php -text
crm/scripts/migration/0.0-1.0/calltrack/2_users.php -text
crm/scripts/migration/1.5-1.6/updatePeopleRoles.js -text
crm/templates/csv/default.inc -text
crm/templates/html/default.inc -text
crm/templates/xml/default.inc -text
crm/templates/xml/partial.inc -text
crm/tests/TestAccessControls.php -text
