* text=auto !eol
crm/blocks/html/errorMessages/mergerNotAllowed.inc -text
crm/blocks/html/people/mergeForm.inc -text
crm/docs/images/addcase.jpg -text
crm/docs/images/answers.jpg -text
crm/docs/images/customfieldsnotpopulated.jpg -text
crm/docs/images/editissue.jpg -text
crm/docs/images/editissue.psd -text
crm/docs/images/editissuebutton.jpg -text
crm/docs/images/history_change.jpg -text
crm/docs/images/newcase.jpg -text
crm/docs/images/same_field.jpg -text
crm/html/departments/updateMyDepartment.php -text
crm/html/media/media -text
crm/html/people/mergePeople.php -text
crm/html/skins/local/images/add.gif -text
crm/html/skins/local/images/add.png -text
crm/html/skins/local/images/buttonBackground.png -text
crm/html/skins/local/images/check.png -text
crm/html/skins/local/images/delete.gif -text
crm/html/skins/local/images/edit.png -text
crm/html/skins/local/images/icons/mime/doc.png -text
crm/html/skins/local/images/icons/mime/dwg-autocad-drawing.ico -text
crm/html/skins/local/images/icons/mime/flash.gif -text
crm/html/skins/local/images/icons/mime/folder.png -text
crm/html/skins/local/images/icons/mime/image.png -text
crm/html/skins/local/images/icons/mime/kml_feed_small.png -text
crm/html/skins/local/images/icons/mime/page.png -text
crm/html/skins/local/images/icons/mime/pdf.png -text
crm/html/skins/local/images/icons/mime/quicktime.png -text
crm/html/skins/local/images/icons/mime/real.png -text
crm/html/skins/local/images/icons/mime/sound.png -text
crm/html/skins/local/images/icons/mime/tar.png -text
crm/html/skins/local/images/icons/mime/vectorgfx.png -text
crm/html/skins/local/images/icons/mime/video.png -text
crm/html/skins/local/images/icons/mime/windowsMedia.png -text
crm/html/skins/local/images/icons/mime/xls.png -text
crm/html/skins/local/images/icons/mime/zip.png -text
crm/html/skins/local/images/required_asterik.gif -text
crm/html/skins/local/images/sort.png -text
crm/html/skins/local/images/sortdescending.png -text
crm/scripts/migration/0.0-1.0/calltrack/1_constituents.php -text
crm/scripts/migration/0.0-1.0/calltrack/2_users.php -text
crm/templates/html/default.inc -text
iphone/mockups/iphonemockups.png -text
iphone/open311/Images/list.png -text
iphone/open311/Images/map.png -text
