crm/data/media/*
crm/data/sessions/*
crm/data/templates/*
crm/data/blocks/*
crm/data/workers/*
crm/data/Themes/COB/public/img
crm/public/css/*.css
crm/public/css/*.css.map
crm/public/.htaccess
site_config.php
config.inc
site_config.inc
theme_config.inc
build
dist
*.mo
.phpunit*
vendor
.sass-cache
screen-*.css*
*-*.js
ansible/roles/City-of-Bloomington.*
ansible/*.retry
