* text=auto !eol
blocks/html/errorMessages/mergerNotAllowed.inc -text
blocks/html/people/mergeForm.inc -text
html/departments/updateMyDepartment.php -text
html/media/media -text
html/people/mergePeople.php -text
html/skins/local/images/add.gif -text
html/skins/local/images/add.png -text
html/skins/local/images/buttonBackground.png -text
html/skins/local/images/check.png -text
html/skins/local/images/delete.gif -text
html/skins/local/images/edit.png -text
html/skins/local/images/icons/mime/doc.png -text
html/skins/local/images/icons/mime/dwg-autocad-drawing.ico -text
html/skins/local/images/icons/mime/flash.gif -text
html/skins/local/images/icons/mime/folder.png -text
html/skins/local/images/icons/mime/image.png -text
html/skins/local/images/icons/mime/kml_feed_small.png -text
html/skins/local/images/icons/mime/page.png -text
html/skins/local/images/icons/mime/pdf.png -text
html/skins/local/images/icons/mime/quicktime.png -text
html/skins/local/images/icons/mime/real.png -text
html/skins/local/images/icons/mime/sound.png -text
html/skins/local/images/icons/mime/tar.png -text
html/skins/local/images/icons/mime/vectorgfx.png -text
html/skins/local/images/icons/mime/video.png -text
html/skins/local/images/icons/mime/windowsMedia.png -text
html/skins/local/images/icons/mime/xls.png -text
html/skins/local/images/icons/mime/zip.png -text
html/skins/local/images/required_asterik.gif -text
html/skins/local/images/sort.png -text
html/skins/local/images/sortdescending.png -text
scripts/migration/calltrack/1_constituents.php -text
scripts/migration/calltrack/1_users.php -text
scripts/migration/calltrack/2_constituents.php -text
scripts/migration/calltrack/2_users.php -text
templates/html/default.inc -text
