parameters:
  bootstrapFiles:
    - src/Test/bootstrap.php
  universalObjectCratesClasses:
    - Application\Block
    - Application\Template
    - Application\View
    - Application\Url
    - Solarium\Core\Query\DocumentInterface
  dynamicConstantNames:
    NOTIFICATIONS_ENABLED: bool
    GRAYLOG_DOMAIN:        string
    ADDRESS_SERVICE:       string
  paths:
    - src/Application
    - src/Domain
