html { font:sans-serif 10pt; }
h1 { font-size:1.25em; font-weight:bold; margin-bottom:.25em; }
h2 { font-size:1; font-weight:bold; margin-bottom:.25em; }
a { text-decoration:none; color:blue; }
table { margin-bottom:.5em; }
th { font-weight:bold; font-size:.9em; padding:0em .75em .5em; }
td { padding:.5em .75em; }
.date, .issueType { font-weight:bold; }
ul { list-style-type:none; margin:0; padding:0; }
fieldset { padding:1em 0; }
legend {font-weight:bold; }
thead th { align:left; }
tbody th { align:right; }

#banner {
	width:100%; height:60px;
	background-color:#003366;
	background-image: -moz-linear-gradient( rgba(6,42,78,1), rgba(15,98,180,.5), rgba(6,42,78,1));
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, rgba(6,42,78,1)), color-stop(.5, rgba(15,98,180,.5)), color-stop(1, rgba(6,42,78,1)));
	margin:0; padding:5px 0;
	position:relative;
}
#banner a { color:white; }
#application_name { font-size:21pt; font-weight:bold; }

#menuBar { }
#menuBar ul { margin:.5em; padding:0; }
#menuBar li { display:inline; margin-right:1em;}
#menuBar a { font-size:1.25em; }
#menuBar a:visited { color:blue; }

#footer { border-top:2px solid black; padding:.5em; }
#footer li { display:inline; margin-right:.5em; }
#footer a { font-weight:bold; color:black; }
#panel-container {}
#content-panel {}
#panel-one { }
#panel-one div { }
#panel-one div h1 { background-color:#3366CC; color:white; border-bottom:2px solid black; padding:.25em; }
#panel-one div ul { margin:.25em; padding:0; }
#panel-one a { font-weight:bold; color:black; }

#ticket-panel 	{ border-top:1px solid #cccccc; clear:both; padding:10px 0 0 10px; overflow:auto; }
#issue-panel 	{ border-top:1px solid #cccccc; clear:both; padding:10px 0 0 10px; overflow:auto; }
#history-panel 	{ border-top:1px solid #cccccc; clear:both; padding:10px 0 0 10px; overflow:auto; }
#location-panel { border-top:1px solid #cccccc; clear:both; padding:10px 0 0 10px; overflow:auto; }
#person-panel	{ border-top:1px solid #cccccc; clear:both; padding:10px 0 10px 10px; overflow:auto; }
#action-panel	{ border-top:1px solid #cccccc; clear:both; padding:10px 0 0 10px; overflow:auto; }

/* Blocks we want to show up in the left column of a Panel */
#ticket-panel .ticketInfo			{ width:290px; float:left; border-right:1px solid #cccccc; }
#location-panel .locationInfo 		{ width:290px; float:left; }
.locationInfo > div { margin:.5em 0; }
#location-panel .findLocationForm	{ width:290px; float:left; }

/* Blocks we want to show up in the right column of a Panel */
#location-panel .locationList			{ margin-left:295px; padding-left:10px; overflow:auto; border-left:1px solid #cccccc; }
#location-panel .locationResidents		{ margin-left:295px; padding-left:10px; overflow:auto; border-left:1px solid #cccccc; }
#location-panel .findLocationResults	{ margin-left:295px; padding-left:10px; overflow:auto; border-left:1px solid #cccccc; }
#location-panel .searchResults 			{ margin-left:295px; padding-left:10px; overflow:auto; border-left:1px solid #cccccc; }
.closeTicketForm, .assignTicketForm, .actionForm, .referTicketForm {padding-left:10px; overflow:auto; }

#ticket-panel .addTicketForm .ticketFields { display:none; }
#ticket-panel .addTicketForm .issueFields { float:left; width:480px; }
#ticket-panel .addTicketForm .assignmentFields { margin-left:490px; }

.searchForm {}
.searchForm .fields { float:right; margin:1em; }
.searchResults {}

.issueList .issue {
	padding:0; margin:.25em;
}

/* Buttons */
.button { }
.button a {
	display:inline-block;
	text-indent:-9999px; overflow:hidden;
	background-repeat:no-repeat;
	vertical-align:middle;
}
.button .add a { width:11px; height:10px; background:url('images/add.gif'); }
.button .edit a { width:16px; height:16px; background:url('images/edit.png'); }
.button .delete a { width:12px; height:12px; background:url('images/delete.gif'); }

.largeButton { display:inline-block; padding:2px; border:2px solid black; background-color:#DDDDDD; }
.largeButton .add a {
	color:black; font-size:12pt; font-weight:bold;
	padding-left:11px;
	background:url('images/add.gif') no-repeat;
}

.pageNavigation { margin:.5em; }
.pageNavigation li { display:inline; margin:.5em; }
.pageNavigation .current { border:2px solid green; }

tr.verified > td:first-of-type { background:url('images/check.png') center left no-repeat; padding-left:16px; }
