h1 { font-size:21pt; font-weight:bold; }
a { text-decoration:none; }
th { padding:0 .25em; font-weight:bold; }
td { padding:0 .25em; }

#banner { background-color:#3366CC; color:white; padding:.5em; border-bottom:2px solid black; }
#banner a { color:white; }
#application_name { font-size:21pt; font-weight:bold; }

#menuBar { border-bottom:2px solid black; }
#menuBar ul { margin:.5em; padding:0; list-style-type:none; }
#menuBar li { display:inline; margin-right:1em; font-size:10pt; }
#menuBar a { color:#3366CC; font-size:14pt; font-weight:bold; }

#footer { border-top:2px solid black; padding:.5em; font-size:10pt; }
#footer ul { margin:0; padding:0; list-style-type:none; }
#footer li { list-style-type:none; display:inline; margin-right:.5em; }
#footer a { font-weight:bold; color:black; }

#panel-one { padding:2px; }
#panel-one div { border:2px solid black; }
#panel-one div h1 { background-color:#3366CC; color:white; font-size:14pt; border-bottom:2px solid black; padding:.25em; }
#panel-one div ul { margin:.25em; padding:0; list-style-type:none; }
#panel-one div li { list-style-type:none; }
#panel-one a { font-weight:bold; color:black; }

#content-panel .left { float:left; width:290px; border-right:1px solid gray; padding:5px; }
#content-panel .right { margin-left:295px; padding:5px; }

#location-panel { border-top:1px solid gray; clear:both; }
#location-panel .left { height:160px; }
#location-panel .right { height:160px; overflow:auto; }

#ticket-panel { border-top:1px solid gray; clear:both; }


.button { }
.button a {
	display:inline-block;
	text-indent:-9999px; overflow:hidden;
	background-repeat:no-repeat;
	vertical-align:middle;
}
.button .add a { width:14px; height:14px; background:url('images/add.png'); }
.button .edit a { width:14px; height:14px; background:url('images/edit.png'); }
.button .delete a { width:14px; height:14px; background:url('images/delete.png'); }

.largeButton { display:inline-block; padding:2px; border:2px solid black; background-color:#DDDDDD; }
.largeButton .add a {
	color:black; font-size:12pt; font-weight:bold;
	padding-left:16px;
	background:url('images/add.png') no-repeat;
}


tr.verified { background:url('images/check.png') no-repeat; }
tr.verified > td:first-child { padding-left:16px; }

