h1 { font-size:131%; font-weight:bold; margin:.5em 0; color:red; }
h2 { font-size:123.1%; font-weight:bold;  margin:.5em 0 .25em 0; }
a { text-decoration:none; color:blue; }
p { margin:.5em; }
table { margin-bottom:.5em; }
th { color:#333333; font-weight:bold; font-size:90%; padding:0em .75em .5em; }
td { padding:.25em .75em; }
.date, .issueType { font-weight:bold; }
ul { list-style-type:none; margin:0; padding:0; }
li { margin:.5em 0; }
fieldset {padding:.25em 0; }
legend { font-weight:bold; }
thead th { text-align:left; }
tbody th { text-align:right; }
.ticketList td, .searchResults td {border-bottom:1px solid #dddddd; }

#banner {
	width:100%; height:60px;
	background-color:#003366;
	background-image: -moz-linear-gradient( rgba(6,42,78,1), rgba(15,98,180,.5), rgba(6,42,78,1));
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, rgba(6,42,78,1)), color-stop(.5, rgba(15,98,180,.5)), color-stop(1, rgba(6,42,78,1)));
	margin:0; padding:5px 0;
	position:relative;
	color:white;
}

#banner a { color:white; }
#application_name { width:60%; margin-left:5px; }
#application_name a {font-weight:bold; font-size:174%; }
#location_name {width:75%; margin-left:5px;  }
#utilityBar {float:right; width:40%;}
#utilityBar li {display:inline; margin-right:1em; color:white; }

#menuBar { margin-bottom:.5em; border-bottom:1px solid #cccccc; }
#menuBar ul { margin:.5em; padding:0; }
#menuBar li { display:inline; margin-right:1em;}
#menuBar a { font-size:123.1%; }
#menuBar a:visited { color:blue; }

#footer { padding:.5em; }
#footer li { display:inline; margin-right:.5em; }
#footer a { font-weight:bold; color:black; }
#panel-container {}
#content-panel {}
#panel-one { }
#panel-one div { }
#panel-one div h1 { background-color:#3366CC; color:white; border-bottom:2px solid black; padding:.25em; }
#panel-one div ul { margin:.25em; padding:0; }
#panel-one a { font-weight:bold; color:black; }

/* Panels need to be full-width and be seperated by a line */
#issue-panel,
#history-panel,
#location-panel,
#person-panel,
#action-panel {
	border-top:1px solid #cccccc; clear:both; padding:10px 0 0 10px; overflow:auto; 
}

#ticket-panel{
	clear:both; padding:10px 0 0 10px; overflow:auto;
}

/* Blocks we want to show up in the left column of a Panel */
#ticket-panel .ticketInfo,
#location-panel .locationInfo,
#location-panel .findLocationForm,
#person-panel .personInfo
#location-panel .locationInfo {
	 width:290px; float:left; padding:3px;
}

/* Blocks we want to show up in the right column of a Panel */
#location-panel .locationList,
#location-panel .findLocationResults,
#location-panel .ticketList,
#ticket-panel .closeTicketForm,
#ticket-panel .assignTicketForm,
#ticket-panel .actionForm,
#ticket-panel .referTicketForm,
#ticket-panel .changeStatusForm,
#person-panel .ticketList,
.findpeopleResults {
	margin-left:305px; padding-left:10px; border-left:1px solid #cccccc;
}

#ticketCreation #location-panel,
#ticketCreation #person-panel {
	max-height:300px; overflow:auto;
}

.ticketList table { border:1px solid #aaaaaa; }
.ticketList tr:nth-child(even) { background: #cccccc }
.ticketList tbody td { border-bottom:1px solid #aaaaaa; }

.locationInfo > div { margin:.5em 0; }

.findPeople { width:290px; float:left; }

#ticket-panel .addTicketForm .ticketFields { display:none; }
#ticket-panel .addTicketForm .reportedByPerson { display:none; }
#ticket-panel .addTicketForm .issueFields { float:left; width:480px; }
#ticket-panel .addTicketForm .assignmentFields { margin-left:490px; }

.categoryChoices ul { column-count:2; -moz-column-count:2; -webkit-column-count:2; }

.mergeForm .target_a { float:left; width:48%; }
.mergeForm .target_b { float:right; width:48%; }
.mergeForm .button { position:absolute; left:40%; }

.searchForm {}
.searchResults {}
.issueList {background-color:#eeeeee; }
.issueList .issue {
	border:1px solid #cccccc; padding:0; margin:.25em; background-color:white;
}

/* Buttons */
.button {
	overflow:hidden;
	background-repeat:no-repeat;
	margin:0 2px;
	font-size:95%;
	font-weight:normal;
	padding:3px;
	color:black;
	line-height:1em;
	border:1px solid #555555;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(0, rgba(220,220,220,1)), color-stop(.5, rgba(255,255,255,.5)), color-stop(1, rgba(220,220,220,1)));
	background: -moz-linear-gradient(top, #dddddd 0%, white 50%, #dddddd 75%);
	display:inline-block;
}
.button a {padding-left:15px; }

.button button {border:none; background-color:transparent; padding-left:14px; }
.icon { display:inline-block; height:16px; overflow:hidden; }
.icon a { height:0px; }
.icon .edit { display:block; width:14px; overflow:hidden; }
.icon .edit a { display:block; padding: 13px 0 0 0; height:0px; width:14px; overflow:hidden; }
.icon .add a { padding: 12px 0 0 18px; height:0px; }
.icon .delete a { padding:12px 0 0 18px; height:0px; }

.add { background: url('images/add.gif') center left no-repeat; }

.submit, .search {
	background:url('images/check.png') center left no-repeat;
}
.edit { background:url('images/edit.png') center left no-repeat; }
.delete, .cancel { background:url('images/delete.gif') center left no-repeat; }

.largeButton { display:inline-block; padding:2px; border:2px solid black; background-color:#DDDDDD; }
.largeButton .add a {
	color:black; font-size:116%; font-weight:bold;
	padding-left:11px;
	background:url('images/add.gif') no-repeat;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button
{ padding:1px 2px; }

.mediaList { margin-left:.5em; }

/* ICONS FOR MIME TYPES */
.jpg  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/image.png') no-repeat; }
.png  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/image.png') no-repeat; }
.gif  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/image.png') no-repeat; }
.tiff { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/page.png') no-repeat; }
.pdf  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/pdf.png') no-repeat; }
.doc  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/doc.png') no-repeat; }
.xls  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/xls.png') no-repeat; }
.rtf  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/page.png') no-repeat; }
.zip  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/zip.png') no-repeat; }
.gz   { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/zip.png') no-repeat; }
.txt  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/page.png') no-repeat; }
.wmv  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/windowsMedia.png') no-repeat; }
.mov  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/quicktime.png') no-repeat; }
.rm   { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/real.png') no-repeat; }
.ram  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/real.png') no-repeat; }
.mp3  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/sound.png') no-repeat; }
.mp4  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/video.png') no-repeat; }
.wma  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/sound.png') no-repeat; }
.tar  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/tar.png') no-repeat; }
.dxf  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/dwg-autocad-drawing.ico') no-repeat; }
.kml  { height:16px; padding: 0px 0px 10px 22px; background: url('images/mime/kml_feed_small.png') no-repeat; }
.swf  { height:16px; padding: 0px 0px 10px 22px; background: url('images/icons/mime/flash.gif') no-repeat; }
.ascending { height:16px; padding: 0px 20px 0px 0px; background:url('images/sort.png') top right no-repeat; }
.descending { height:16px; padding: 0px 20px 0px 0px; background:url('images/sortdescending.png') top right no-repeat; }


.pageNavigation { margin:.5em; }
.pageNavigation li { display:inline; margin:.5em; }
.pageNavigation .current { border:2px solid green; }

tr.verified > td:first-of-type { background:url('images/required_asterik.gif') center left no-repeat; padding-left:16px; }
.issue { margin-top:.25em; }
.issueList h1 { display:inline; }
.ticketList .add a { height:2em; font-size:93%; }

/* JavaScript will apply this style to stuff it wants to hide */
.hidden { display:none; }

/* YUI Styles */
/* Autocomplete styles */
.yui3-aclist-content { border:1px solid black; background-color:white; }
.yui3-aclist-item { font-family:sans-serif; }
.yui3-aclist-item-active { background-color:blue; }

/* Overlay styles */
.yui3-overlay-content { border:1px solid black; background-color:white; padding:10px; }
.yui3-widget-ft { clear:both; }

/* Drag and Drop */
.yui3-dd-draggable { cursor:move; }
.yui3-dd-drop input {background-color:lightGreen; }
input.yui3-dd-drop-over { background-color:green; }
.yui3-dd-drop-active-valid { border: 2px solid green; }
