/*Search panel with two vertical columns*/
#search-form {width:39%; float:left; padding:0 1em; }
#search-results { margin-left:40%; padding:0 1em; }
#search-form .search-checkboxes {-webkit-column-count:2; -webkit-column-gap:.5em;
								-moz-column-count:2; -moz-column-gap:.5em;
								}
td select {max-width:200px; overflow:hidden; }
#search-form td { padding:.25em .25em; }

#search-form .add a {margin:1.25em 0; }

#search-form li {margin:.25em; }

h1 {margin:2em 0; }

#search-form label {display:block; font-weight: bold; }
.searchForm .fields { min-height:160px; margin:1em; -webkit-column-count:2; -moz-column-count:2; column-count:2; }
.addNew {margin:1em 0; }
#search-form .button .add a {font-size:12pt; height:16px; }