h1 { font-size:131%;   font-weight:bold; margin-bottom:.5em; color:#a60000; }
h2 { font-size:123.1%; font-weight:bold; margin-bottom:.25em; }
h3 { font-size:110%;   font-weight:bold; margin-bottom:.25em; }
h4 { font-size:100%;   font-weight:bold; }
a  { text-decoration:none; color:#0000a6; }
p  { margin-bottom:.5em; }

table       { margin:0 0 .5em 0; }
th          { color:#333; font-weight:bold; font-size:90%; padding:0.25em; }
td          { padding:.4em; }
thead th    { text-align:left; }
tbody th    { text-align:right; }
tbody label { display:block; text-align:right; }

ul { margin:0 0 .75em 0; padding:0; list-style-type:none; }
li { margin-bottom:.5em; }

fieldset { padding:.5em 0; }
legend   { font-weight:bold; font-size:110%; width:100%; color:#a60000; }
label    { font-weight:bold; }
form td  { vertical-align:top; }
textarea { width:250px; height:50px; }

button, .button {
	display:inline-block;
	padding:4px 10px 4px 24px;
	border:1px solid #cccccc;
	font-size:12px; font-weight:normal;
	color:black;
}

.add, .upload,
.chooseLocation { background:url('images/addbutton.png')    left center no-repeat; }
.edit, .change  { background:url('images/editbutton.png')   left center no-repeat; }
.search, .save,
.submit, .login { background:url('images/submitbutton.png') left center no-repeat; }
.delete, .reset { background:url('images/deletebutton.png') left center no-repeat; }
.minusTag       { background:white url('images/minusTag.png') 4px center no-repeat; padding:4px 4px 4px 20px; }
.changePersonButton, .changeLocationButton { margin:.5em 0; }

.panel       { padding:.75em; overflow:auto; }
.panel > div { margin-bottom:.75em; }

.actionForm          { overflow:auto; }
.actionForm form     { background-color:#eee; padding:0 .5em; margin-bottom:.75em; border-radius:5px; display:table; }
.actionForm fieldset { float:left; display:table; }
.actionForm .buttons { clear:left; }

.ticketInfo li { width:280px; }
.ticketInfo ul .button,
.personInfo table .button {
	/* Hide the text.  Only show the icon */
	display:inline-block; text-indent:-999px; overflow:hidden; /* Get rid of the text */
	width:0; padding:0 0 0 25px;
	vertical-align:middle; border:none;
	background-repeat:no-repeat; background-position:right center;
	float:right;
}
.ticketInfo ul    .edit,
.personInfo table .edit   { background-image:url('images/edit.png'); }
.personInfo table .delete { background-image:url('images/delete.png'); }


.locationInfo ul { margin:0; }

.ticketList table { border:1px solid #aaa; }
.ticketList td    { border-bottom:1px solid #aaa; }

.findPeople { width:290px; float:left; }

.categoryChoices ul { column-count:2; -moz-column-count:2; -webkit-column-count:2; }

.addNewForm       { float:right; border:2px solid black; background-color:#eeeeee; }
.addNewForm form  { padding:1em; }
.addNewForm label { position:absolute; left:-9999px; }
.addNewForm div   { margin-bottom:.5em; }

#addTicketForm .ticketFields,
#addTicketForm .reportedByPerson {
	display:none;
}

.mergeForm            { width:100%; }
.mergeForm fieldset   { overflow:auto; text-align:center; }
.mergeForm .target_a,
.mergeForm .target_b  { width:48%; float:left; }

.tableOfContents li { display:inline; margin-right:2em; }

/**
 * Alternating row background colors
 */
.ticketList        tbody tr:nth-child(even),
.personList        tbody tr:nth-child(even),
.slaForm           tbody tr:nth-child(even),
.clientRequestForm tbody tr:nth-child(odd),
.ticketInfo li:nth-child(odd),
.issueInfo  li:nth-child(odd) {
	background:#eee;
}

/**
 *Two Column List
 */

.twoColumnlist { -webkit-column-count:2; -moz-column-count:2; column-count:2; }

/**
 * Interface Boxes
 */
.departmentList .department,
.categoryList .category,
.clientList div {
	border:2px solid #dddddd;  margin-top:0.5em;
	overflow:hidden;
}
.departmentList h3,
.categoryList h3,
.clientList h3 {
	background-color:#eeeeee;
}
.departmentList h3 a,
.categoryList h3 a,
.clientList h3 a {
	color:black;
}

/**
 * Help text on fields
*/
.help { font-size:.9em; color:#666666; }

/* Issue information */
#issue-panel { background-color:#eee; }
.issueHeader { width:100%; display:block; }
.issueHeader .date, .issueHeader .issueType { padding:0 10px 0 0; }
.issueInfo, .updateIssueForm {
	border:1px solid #ccc; margin:.5em 0; padding:.5em; background-color:white;
}
.issueInfo .notes { margin-bottom:.5em; clear:left; }

.mediaList          { margin-left:550px; border:1px solid #dddddd; padding:.25em; height:30px; }
.mediaList legend   { width:auto; float:left; line-height:30px; font-size:1em; margin:0 .25em; }
.mediaList fieldset { position:relative; padding:0; display:inline-block; vertical-align:middle; }


/* ICONS FOR MIME TYPES */
.jpg        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/image.png')        no-repeat; }
.png        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/image.png')        no-repeat; }
.gif        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/image.png')        no-repeat; }
.tiff       { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/page.png')         no-repeat; }
.pdf        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/pdf.png')          no-repeat; }
.doc        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/doc.png')          no-repeat; }
.xls        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/xls.png')          no-repeat; }
.rtf        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/page.png')         no-repeat; }
.zip        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/zip.png')          no-repeat; }
.gz         { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/zip.png')          no-repeat; }
.txt        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/page.png')         no-repeat; }
.wmv        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/windowsMedia.png') no-repeat; }
.mov        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/quicktime.png')    no-repeat; }
.rm         { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/real.png')         no-repeat; }
.ram        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/real.png')         no-repeat; }
.mp3        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/sound.png')        no-repeat; }
.mp4        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/video.png')        no-repeat; }
.wma        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/sound.png')        no-repeat; }
.tar        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/tar.png')          no-repeat; }
.kml        { height:16px; padding: 0px 0px 10px 22px; background:url('images/mime/kml_feed_small.png')     no-repeat; }
.swf        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/flash.gif')        no-repeat; }
.ascending  { height:12px; padding: 0px 20px 0px 0px;  background:url('images/arrow_down.png') top right    no-repeat; }
.descending { height:12px; padding: 0px 20px 0px 0px;  background:url('images/arrow_up.png')   top right    no-repeat; }
.top        { height:12px; padding: 0px 20px 0px 0px;  background:url('images/arrow_up.png')   top right    no-repeat; }
.dxf        { height:16px; padding: 0px 0px 10px 22px; background:url('images/icons/mime/dwg-autocad-drawing.ico') no-repeat; }

.pageNavigation          { margin:.5em; }
.pageNavigation li       { display:inline; margin:.5em; }
.pageNavigation .current { border:2px solid green; }

tr.verified        { background-color:#cfc; }
.ticketList .add a { height:2em; font-size:93%; }


.collapsible .hd { cursor: pointer; padding:5px 10px 5px 3px; margin:10px 0; border-bottom:1px solid #dddddd; }
.collapsed   .hd { background:#dddddd url('images/plus.png')  95% center no-repeat; }
.expanded    .hd { background:#dddddd url('images/minus.png') 95% center no-repeat; }
.collapsed   .bd { display:none; }
.expanded    .bd { display:block; }

.totals { border-top:1px solid black; }



/* YUI Styles */
/* Autocomplete styles */
.yui3-aclist-content     { border:1px solid black; background-color:white; }
.yui3-aclist-item-active { background-color:blue; }

/* Overlay styles */
.yui3-overlay          { width:90%; }
.yui3-overlay-content  { border:1px solid black; background-color:white; padding:10px; }
.yui3-widget-ft        { clear:both; }
#find_location_overlay { width:100%; }

/* Drag and Drop */
.yui3-dd-draggable         { cursor:move; }
.yui3-dd-drop input        { background-color:lightGreen; }
input.yui3-dd-drop-over    { background-color:green; }
.yui3-dd-drop-active-valid { border: 2px solid green; }

#location_map {
	width:98%; height:400px;
	border:2px solid black;
	margin-bottom:.75em;
}
