/**
 * City of Bloomington Theme
 *
 * This stylesheet extends the default Factory Number One CSS.
 * @see https://github.com/City-of-Bloomington/factory-number-one
 *
 * To use this stylesheet, make sure to include a link to the factory-number-one
 * stylesheet in the template head.
 *
 * This CSS should only include properties that are not include in fn1.
 */
@import 'modules/vars.scss';
@import 'modules/header.scss';
@import 'modules/table.scss';

footer { background-color:$color-background-footer; color:$color-heading-1; }
h1 { font-size:1.5rem; }

main .dropdown .launcher {
    background-color:$green;
    border-bottom: .25em solid $green-light;
    color: $color-content-background;
}


#ticketSearchForm {
    ul { list-style-type:none; padding:0 1rem; }
    #display_fields {
        dl {
            margin:0; -webkit-column-count:2; -moz-column-count:2; column-count:2;
            background-color:$color-content-background;
        }
        dd { margin:0; font-size:.8rem; }
    }
}
.icon.slide { background-image:url('images/fa-svg/angle-left.svg'); padding-left:1.7em; }
.btn.text   { background-image:url('images/fa-svg/reorder.svg'   ); padding-left:1.7em; }

#advanced-search > .btn.delete { display:block; }

.searchResults {
    article { border:1px solid $color-border-table; padding:.5em; }
    dl      { border:none; }
}

.pageNavigation          { margin:.5em; }
.pageNavigation li       { display:inline; margin:.5em; }
a.current { border:2px solid green; }

.ticketInfo header {
    h1 { display:block; margin-bottom:0; }
    .status { float:right; }
}
.history article {
    padding-left:1rem;

    h1 { font-size:1rem; }
}