@import 'modules/vars';
@import 'modules/html-elements';
@import 'modules/header';
@import 'modules/button';
@import 'modules/dropdown';
@import 'modules/content-section';
@import 'modules/field';

#ticketSearchForm #display_fields ul { margin:0; -webkit-column-count:2; -moz-column-count:2; column-count:2; }
.pageNavigation          { margin:.5em; }
.pageNavigation li       { display:inline; margin:.5em; }
a.current { border:2px solid green; }
