html { background:url('../default/images/pagebg.gif'); background-repeat:repeat; background-position:top; text-align:center; padding-bottom:10px; }
body { width:980px; position:relative; margin:0 auto; text-align:left; background-color:white; font-family:Arial, Helvetica, sans-serif; }
#banner { width:100%; }
#leftSidebar { display:none; }
#rightSidebar { display:none; }
#mainContent { width:100%; }

/* DEFAULT TEXT */
a { color:#0066CC; }
a:active { color:#0066CC; }
a:hover { color:#0066CC; text-decoration:underline; }

hr { border:0; height:1px; background-color:#003366; margin-bottom:10px; margin-top:10px; }

p { margin:0; margin-bottom:.5em; }

h1 { font-size:30px; color:red; margin:0; padding:0; font-weight:bold; clear:both; }
h2 { font-size:16px; color:#003366;  margin:15px 0px 5px 0px; font-weight:bold; clear:both; }
h2 a { color:#003366; }
h3 { font-size:14px; color:#003366; margin:15px 0px 5px 0px; padding:0; font-weight:bold; }
h3 a { color:#003366; }
h4 { font-size:13px; color:#003366; margin:15px 0px 5px 0px; padding:0; font-weight:bold; }
h4 a { color:#003366; }
h5 { font-size:13px; color:#003366; margin:15px 0px 5px 0px; padding:0; font-weight:bold; }
h5 a { color:#003366; }
h6 { font-size:12px; color:#003366; margin:15px 0px 5px 0px; font-weight:bold; }
h6 a { color:#003366; }

strong { font-weight:bold; }
u { text-decoration:underline; }
em { font-style:italic; }
sub { vertical-align:sub; }
sup { vertical-align:super; }
code { font-family:monospace; }
address { font-style:normal; }

dt { font-weight:bold; }

blockquote { margin:1em 40px; }

form { }
fieldset { margin-bottom:10px; }
legend { background-color:#5a8fdc; font-weight:bold; padding:4px; margin-bottom:2px; color:white; }
label { font-weight:bold; }
label.required {padding-left:15px; }
select { font-size:12px; }
textarea { }
input { }

table { border-collapse:collapse; border:1px solid #999999; margin:1em 0 1em 0; }
tr { }
td { padding:2px; background-color:inherit; border:1px solid #999999; vertical-align:top; }
th { text-align:left; border:1px solid #999999; background-color:#e0e0e0; padding:2px; vertical-align: top; font-weight:bold; }
th a { color:#3366cc; background-color:inherit; }


#banner { width:980px; margin:0; padding:0; height:130px; background:url('http://bloomington.in.gov/skins/spring/images/banner/springbanner.jpg') top left no-repeat; font-size:12px; }
#banner ul { list-style-type:none; margin:0; padding:0; }
#banner a { color:black; font-size:11px; }

#logo { width:284px; height:68px; position:absolute; top:16px; left:16px;  text-indent:-9999px; }
#logo a { display:block; width:246px; height:64px; }

#skipNavigation { position:absolute; left:-9999px; }

/* Take Action */
#banner .widgets { width:296px; height:24px; position:relative; top:98px; left:16px; padding-top:4px; }
#banner .widgets h1 { display:inline; margin-left:7px; font-weight:bold; font-size:11px; color:#333333; }
#banner .widgets ul,#banner .widgets li { display:inline; }
#banner .widgets a { font-weight:bold; font-size:11px; }
#banner .take-action .do { margin-left:30px; }
#banner .take-action .do a { color:#005502; }
#banner .take-action .report { margin-left:12px; }
#banner .take-action .report a { color:#990000; }
#banner .take-action .ask { margin-left:13px; }
#banner .take-action .ask a { color:#660066; }
#banner .take-action .explore { margin-left:13px; }
#banner .take-action .explore a { color:#c13100; }

#mainLinks { width:335px; height:30px; position:absolute; top:10px; left:330px; padding-top:6px; padding-left:3px; }
#mainLinks ul, #mainLinks li { display:inline; }

#mainLinks a, #secondaryLinks a { color:#003366; }
#mainLinks li { border-left:1px solid #003366; padding-left:5px; }
#mainLinks li.first { border-left:0; }

#secondaryLinks { width:260px; height:30px; position:absolute; top:10px; right:4px; padding-top:6px; }
#secondaryLinks li { float:left;  padding-right:5px; margin-right:4px; }
#secondaryLinks li.first { border-right:1px solid #003366; }
#secondaryLinks form { width:120px; height:20px;  background:url('../default/images/banners/search.gif') top left no-repeat; position:relative; top:-3px; left:12px; }
#secondaryLinks fieldset { }
#secondaryLinks legend { display:none; }
#secondaryLinks input { border:0; background-color:transparent; width:82px; margin-left:18px; font-size:11px; }
#secondaryLinks button { display:none; }


#topLevelSections { background-color:#003366; height:21px; padding-top:1px;  }
#topLevelSections ul { list-style-type:none; height:21px; margin:0; padding:0; overflow:hidden; }
#topLevelSections li { height:19px; float:left; margin-left:14px; border-left:1px solid white; padding-left:14px; padding-top:2px; }
#topLevelSections li.home { border-left:none; }
#topLevelSections a { color:white; font-weight:bold; font-size:13px; text-decoration:none; }

#pageTitle { background:url('open311.png') top left no-repeat; padding-left:80px; line-height:65px; position:relative; }
#pageTitle h1 { vertical-align:middle; display:block; }

#main-content-container { width:978px; background-color:grey; border-left:1px solid black; border-right:1px solid black; margin:0; overflow:auto; padding-top:10px; }
#mainContent { background-color:white; }
#formCrumbs { height:1.5em; background-color:#dddddd; }
#formCrumbs ol { display:inline; margin:0; padding:0; }
#formCrumbs li { float:left; margin-left:5px; padding-right:30px; }

.expand {float:right; }
