/*Search panel with two vertical columns*/
#search-form { width:300px; float:left; padding-right:5px; }
#search-results { margin-left:310px; padding:0 1em; }

.slidingPanelHidden #search-form { position:absolute; left:-280px; }
.slidingPanelHidden #search-results { margin-left:20px; }
