/**
 * This layout supports sliding the left panel in and out of the side
 * It relies on Javascript. Make sure to include /js/slidingPanel.js
 */

#left { width:300px; float:left; border-top:1px solid #ccc; background-color:#eee; }
#right { margin-left:310px; border-top:1px solid #ccc; background-color:#eee; }

.hideLeft #left { position:absolute; left:-280px; }
.hideLeft #right { margin-left: 20px; }

#slideButton {
	vertical-align:middle;
	float:right;
}

.panel > div {
	background-color:white; border:1px solid #ccc; padding:.75em;
	}
.searchResultsRows div { border-top:1px solid #ddd; overflow:auto; padding:4px; }
.searchResults table { background-color:#eeeeee; margin-top:.25em; }
.searchResults th { padding:.5em; border-right:1px solid #cccccc; }

