.full-width {
    #content-panel { }
}
.searchLayout {
    #panel-one { float:left; width:300px; }
    #content-panel { margin-left:300px; }

    .hideLeft #panel-one { position:absolute; left:-280px; }
    .hideLeft #content-panel { margin-left: 20px; }

    #slideButton {
        vertical-align:middle;
        float:right;
    }
}

.backend {
    #panel-one { float:left; width:172px; }
    #content-panel { margin-left:172px; }
}

.stackedPanels {
    #content-panel { overflow:auto; }
    #bottom-left { width:400px; float:left; }
    #bottom-right { margin-left:400px; }
}

.locations {
    #panel-one { width:380px; float:left; }
    #panel-two { margin-left:390px; }
}

.merging {
    #left  { width:48%; float:left; }
    #right { width:48%; float:left; }
}

.tickets {
    #content-panel { width:500px; float:left; }
    #panel-one { margin-left:510px; }
}

footer { clear:both; }
