.full-width {
    #content-panel { }
}
.searchLayout {
    #panel-one { float:left; width:300px; }
    #content-panel { margin-left:310px; }

    .hideLeft #panel-one { position:absolute; left:-280px; }
    .hideLeft #content-panel { margin-left: 20px; }

    #slideButton {
        vertical-align:middle;
        float:right;
    }
}

.two-column {
    main { overflow:auto; }

    #panel-one { float: left; width: 33.3333%; }
    #content-panel { margin-left: 33.3333%;; }
}

.three-column {
    main { overflow:auto; }

    #panel-one { float:left; width:180px; }
    #panel-two { float:right; width:180px; }
    #content-panel { margin-left: 190px; margin-right: 190px; }
}

footer { clear:both; }
