table {
    overflow: hidden;

    thead {
        th {
            background: #ccc;
            color: #fff;
            text-align:center;

            a { color: #fff; }
        }
    }
    tbody {
        th, td {
        }
    }
}
