body {
	margin:0; overflow:hidden;
	font-family:Helvetica;
	background:white; color:black;
	-webkit-text-size-adjust:none;
}

#navigationBar {
	margin:0; padding:10px; line-height:20px;
	font-size:20px; font-weight:bold;
	text-align:center; text-overflow:ellipsis;
	text-shadow: rgba(0,0,0,0.6) 0px -1px 0;
	color:white;
	background:url('images/iPhoneToolbar.png') repeat-x;
	border-bottom: 1px solid #2d3642;
}